.contact_form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 60px 0;
  transition: 0.15s background-color linear;
  justify-content: center;

  &.dark_mode {
    background-color: #252525;
  }
  .contact_items_container {
    .item_description {
      display: flex;
      flex-direction: column;
    }
    transition: 0.15s background-color linear;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    padding-right: 30px;
    @media (max-width: 380px) {
      padding-right: 0;
    }
    .contact_item {
      margin-bottom: 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .title {
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        &.dark_mode {
          color: whitesmoke;
        }
      }
      .sub_title {
        color: #7a7a7a;
        font-weight: 400;
        line-height: 25px;
        &.dark_mode {
          color: #919191;
        }
        a {
          color: #7a7a7a;
          font-weight: 400;
          line-height: 25px;
        }
      }
      a {
        color: #c5c5c5;
        font-weight: 400;
        line-height: 25px;
        text-decoration: none;
      }
      .contact_item_icon {
        width: 55px;
        height: 55px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid #bfa67a;
        margin-right: 20px;
        @media (max-width: 420px) {
          height: 40px;
          width: 40px;
        }
        i {
          line-height: 1.9;
          color: #bfa67a;
          font-size: 26px;
          @media (max-width: 420px) {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .contact_form {
    flex-direction: column;
    align-items: center;
    .contact_items_container {
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 750px) {
  .contact_form {
    padding: 25px 0;
    .contact_items_container {
      width: 100%;
      justify-content: center;
      flex-direction: column;
      .contact_item {
        margin: 10px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (max-width: 350px) {
  .contact_form {
    .contact_items_container {
      margin: 0;
      .contact_item {
        margin: 5px;
      }
    }
  }
}
