@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap);
@import url(https://kit.fontawesome.com/c556c5e77c.js);
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Lato", sans-serif;
  outline: none;
}

body,
html {
  overflow-x: hidden;
}

.cookie-though .ct-collapse div:focus {
  outline: none;
  border: none;
}
.cookie-though .ct-collapse {
  padding: none;
}
.cookie-though div:focus {
  outline: none;
  border: none;
}
.cookie-though:focus {
  outline: none;
}

.cookie-though {
  text-decoration: none;

  /* The colors used to style the modal */
  --ct-primary-400: #9e865e;
  --ct-primary-300: #8e8e8e;
  --ct-primary-200: #666666;
  --ct-primary-100: #f0f0ff;
  /* The colors used to style: customizationButton, headerDescription and cookiePolicy */
  --ct-text: #6b7280;
  box-shadow: 0 2px 19px -4px #bfa67a70;

  /* The colors used to style the title elements */
  --ct-subtitle: var(--ct-primary-300);
  --ct-title: var(--ct-primary-400);

  /* The color used to style the cookie svg */
  --ct-cookie: var(--ct-primary-400);

  /* The colors used to style a policy */
  --ct-policy: var(--ct-white);
  --ct-policy-enabled: var(--ct-primary-400);
  --ct-policy-text: var(--ct-primary-400);
  --ct-policy-text-enabled: var(--ct-white);
  --ct-policy-essential: var(--ct-primary-100);

  /* The colors used to style the sliders */
  --ct-slider-primary: var(--gray-400);
  --ct-slider-secondary: var(--gray-300);
  --ct-slider-enabled-primary: #666666;
  --ct-slider-enabled-secondary: #bbb5ac;

  /* The font color of the text inside a policy when it's enabled  */
  --ct-enabled-option-color: var(--ct-white);

  /* The white color */
  --ct-white: #ffffff;

  /* The margin underneath text elements */
  --ct-text-margin: 0.25rem;

  /* The padding of the modal and margin of the banner, toggleButton and customization */
  --ct-default-padding: 1rem;

  /* The padding/margin used to seperate the options and the permission buttons */
  --ct-seperator-padding: 0.5rem;

  /* The font size of the header title */
  --ct-heading-font-size: 1.25rem;

  /* The font size of the header sub title */
  --ct-sub-heading-font-size: 0.875rem;

  /* The font size of text */
  --ct-text-font-size: 0.75rem;

  /* The font size of the customize button and permission button labels */
  --ct-button-font-size: 0.8125rem;

  /* The font used in the app */
  --ct-primary-font: "Montserrat";

  /* The font used for header description and policy description */
  --ct-secondary-font: "Lato";

  /* The z-index you want the root container to have */
  --ct-z-index: 9999;
}

.popup-overlay .popup-content {
  margin: auto;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0 2px 19px -4px #bfa67a70;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.modal {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal p {
  font-weight: bold;
  padding-bottom: 5px;
}
.modal > .header {
  width: 100%;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}
.modal > .header::after {
  position: absolute;
  content: "";
  top: 40px;
  left: 20%;
  width: 60%;
  height: 2px;
  background-color: rgb(175, 175, 175);
}
.modal > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 5px;
}
.content a {
  text-decoration: none;
  color: #bfa67a;
  font-weight: bold;
  padding-top: 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.close-btn {
  padding: 10px;
  background-color: #bfa67a;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px -3px rgb(0 0 0 / 50%);
  box-shadow: 0px 0px 4px -3px rgb(0 0 0 / 50%);
  cursor: pointer;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #6c1d1d;
}

.steps {
  display: flex;
  width: 220px;
  flex-direction: column;
  align-items: center;
}
p:not(:last-child),
.content ul:not(:last-child) {
  margin-bottom: 1em;
}
h2:not(:first-child) {
  margin-top: 1.1428em;
}
.article-body h1,
.article-body h2,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body p,
.frame-content h1,
.frame-content h3,
.frame-content h2,
.frame-content h4,
.frame-content h5 {
  margin-bottom: 1.1428em;
  font-family: "Source Sans Pro";
  overflow-wrap: anywhere;
}

div.css-yilgkd-WidgetPreviewContainer.e5ld4zj0 {
  padding-bottom: 15px;
}
.frame-content p,
.frame-content h1,
.frame-content h2,
.frame-content h3,
.frame-content h4,
.frame-content h5 {
  color: #3d3f4c;
  overflow-wrap: anywhere;
}

p img,
.frame-content div img {
  height: auto;
  max-width: 100%;
  margin-bottom: 1.1428em;
  margin-top: 1.1428em;
}
.article-body ol li,
.article-body ul li,
.frame-content ol li,
.frame-content ul li {
  margin-left: 2em;
  overflow-wrap: anywhere;
}

.steps .img {
  height: 150px;
  width: 150px;
  border: #bfa67a 2px solid;
  border-radius: 50%;
  background-position: center center;
  background-size: 60%;
  background-repeat: no-repeat;
  position: relative;
}

.steps .description {
  margin-top: 10px;
  text-align: center;
  justify-content: flex-start;
  color: white;
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
}
.steps .one::after {
  content: "1";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #bfa67a;
  top: 0;
  left: -20px;
  border-radius: 50%;
}

@media (min-width: 960px) {
  .steps {
    margin: 30px;
  }
}
@media (min-width: 1380px) {
  .steps {
    margin: 0 50px;
  }
}

@media (min-width: 950px) {
  header.section_size {
    height: 80px;
    background: #000000;
  }
  .fsmenu.is-active,
  .fsmenu,
  .fsmenu.close-menu {
    display: none;
    width: 0;
    height: 0;
  }
  small.section_size {
    font-size: 30px;
  }
}

.fsmenu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  display: none;
}
.fsmenu .fsmenu--container {
  width: 0;
  height: 100vh;
  padding: 8em 3em 3em;
  background: #000;
  position: absolute;
  right: 0;
  overflow: hidden;
}
.fsmenu .fsmenu--container .fsmenu--text-block {
  width: 100%;
  height: 60%;
}
.fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container {
  width: 100%;
  height: 100%;
}
.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element {
  width: 100%;
  height: 25%;
  list-style-type: none;
  text-align: right;
}
.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element
  a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.2s ease;
}
.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element
  a:hover {
  color: #bfa67a;
}

.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element
  a
  span {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 1;
  height: 1em;
  display: inline-block;
  position: relative;
  z-index: 1002;
}
.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element
  a
  span:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  z-index: 1003;
}

.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element
  .fsmenu--scrolling-text {
  height: 100%;
  display: flex;
  align-items: center;
  transform: translate(-20%, -100%);
  opacity: 0;
  pointer-events: none;
}
.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element
  .fsmenu--scrolling-text
  span {
  height: 1em;
  font-size: 8em;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1;
  color: #1e1e1e;
  display: inline-block;
  margin-right: 1em;
}
.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element:hover
  .fsmenu--scrolling-text {
  opacity: 1;
}
.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element
  .fsmenu--link-img {
  width: 0px;
  height: 100vh;
  padding: 8em 3em 3em;
  position: absolute;
  top: 0;
  right: calc(100vw - 720px);
  z-index: 1001;
  font-size: 16px;
  pointer-events: none;
}
.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element
  .fsmenu--link-img
  .fsmenu--img-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element
  .fsmenu--link-img
  .fsmenu--img-container
  img {
  width: 624px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element.open
  .fsmenu--link-img {
  left: auto;
  right: calc(100vw - 720px);
}
.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element.open
  .fsmenu--link-img
  .fsmenu--img-container
  img {
  right: 0;
  left: auto;
}
.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element.is-closing
  .fsmenu--link-img {
  left: 0;
  right: auto;
}
.fsmenu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element.is-closing
  .fsmenu--link-img
  .fsmenu--img-container
  img {
  left: 0;
  right: auto;
}
.fsmenu.is-active {
  display: block;
}
.fsmenu.is-active .fsmenu--container {
  animation: animMenuReveal 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s
    forwards;
}
.fsmenu.is-active
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element
  a
  span:before {
  animation: animMenuRevealLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.4s
    forwards;
}
.fsmenu.close-menu {
  display: block;
}
.fsmenu.close-menu .fsmenu--container {
  width: 100vw;
  right: auto;

  animation: animMenuClose 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.3s
    forwards;
}
.fsmenu.close-menu
  .fsmenu--container
  .fsmenu--text-block
  .fsmenu--text-container
  .fsmenu--list
  .fsmenu--list-element
  a
  span:before {
  left: auto;
  right: 0;
  background: black;
  animation: animMenuCloseLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s
    forwards;
}
@keyframes animMenuReveal {
  0% {
    width: 0vw;
  }
  100% {
    width: 100vw;
  }
}
@keyframes animMenuRevealLinks {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes animMenuClose {
  0% {
    width: 100vw;
    padding: 8em 3em 3em;
  }
  100% {
    width: 0vw;
    padding: 8em 0 0;
  }
}
@keyframes animMenuCloseLinks {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}
