.navItem {
  list-style-type: none;
  opacity: 0;
  transition: 0.1s linear;
  pointer-events: none;
  .quotation {
    background-color: #35d835;
    padding: 10px;
    font-weight: 700;
    color: whitesmoke;
    border-radius: 10px;
    outline: none;
    border: 1px solid #35d835;
  }
  .itemLink {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-size: 17px;
    line-height: 1.5;
    pointer-events: all;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #bfa67a;
    }
  }
  .itemLinkActive {
    color: #bfa67a;
  }
}

.mobileNavElements {
  transition: 0.1s linear;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: rgba(17, 17, 17, 0.88);
  border-top: 1px solid #2f2e2e;
  width: 100vw;
  height: 40vh;
  position: fixed;
  left: 0;
  top: 60px;
  text-decoration: none;
  pointer-events: all;
}

@media (min-width: 950px) {
  .navItem {
    display: none;
  }
  .mobileNavElements {
    display: none;
  }
}
