.popUp {
  width: 100vw;
  height: 0px;
  background-color: #bfa67a;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  transform: translateY(100px);
  transition: 0.3s transform linear;
  &.open {
    height: 100px;
    color: white;
    transform: translateY(0);
  }
}
